{% extends 'base.html' %} {% block content %}
<h1>Update Flight</h1>
<form
  action="{{ url_for('update_flight', flight_id=flight['flight_id']) }}"
  method="POST"
  class="mt-3"
>
  <div class="mb-3">
    <label for="flight_name" class="form-label">Flight Name</label>
    <input
      type="text"
      class="form-control"
      id="flight_name"
      name="flight_name"
      value="{{ flight['flight_name'] }}"
      required
    />
  </div>
  <div class="mb-3">
    <label for="origin" class="form-label">Origin</label>
    <input
      type="text"
      class="form-control"
      id="origin"
      name="origin"
      value="{{ flight['origin'] }}"
      required
    />
  </div>
  <div class="mb-3">
    <label for="destination" class="form-label">Destination</label>
    <input
      type="text"
      class="form-control"
      id="destination"
      name="destination"
      value="{{ flight['destination'] }}"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Update Flight</button>
</form>
{% endblock %}
